body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

td, td > button {
    min-width:2em;
}

input {
  width:60%;
}

.symbol {
  background-color: darkgray;
}

#Clear {
  background-color: yellow;
}

#Calculate {
  background-color: greenyellow;
}